html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#brewery-wrapper{
position: relative;
}

#brewery-content{
width: 58%;
    float: left;
    margin-left: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

#map {
  	height: 50%;
    width: 100%;
    margin: 0 auto;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 50%;
    width: 100%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.doorknob {
		margin: 0 auto;
		width: 200px;
		padding: 10px;
}
#container{
	width: 100%;
	margin: 0 auto;
}
#beer {
    float: left;
    width: 200px;
    background-color: #e7a61a;
    border-radius: 12px 9px 49px 40px;
    -moz-border-radius: 12px 9px 49px 40px;
    -webkit-border-radius: 12px 9px 49px 40px;
    border: 5px solid #000000;
    padding: 10px;
    margin: 10px;
    color: #ffffff;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}