







@import "../../node_modules/bootstrap/scss/bootstrap";
@import "icons/font-awesome/scss/font-awesome";
@import "icons/material-design/materialdesignicons";
@import "icons/ionicons/scss/ionicons";
@import "icons/themify-icons/themify-icons";
@import "icons/weather-icons/sass/weather-icons.min";

/*===================================
Colors
===================================*/

$primary: #471e3e;
$secondary:#763d6c;
$success: #d4c39c;
$info: #3ddcf7;
$warning: #ffaa00;
$danger: #ef5350;
$dark: #2a3142;
$inverse: #4c5667;
$pink: #f76397;
$purple: #3bafda;
$muted: #98a6ad;
$maverick:#c7b0c3;
$putty: #c8ac6f;
$dspanish: #d4c39c;
$trenpink: #7d5a76;
$eminence: #763d6c;
$deeppurple: #471e3e;
$white: #ffffff;

$lightgray: #dddddd;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$lightdark5: #555555;
$light5: #f5f5f5;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

$bg-color: #f5f5f5;
$bg-master:#555555;
$bg-primary: $primary;

$card-border-color-maverick: $maverick;
$card-border-color-putty: $putty;
$card-border-color-dspanish: $dspanish;
$card-border-color-trenpink: $trenpink;
$card-border-color-eminence: $eminence;
$card-border-color-deeppurple: $deeppurple;

body {
    background: $bg-color;
    font-family:'pisano';
    padding-top: 5rem;
}

.card-box {
  padding: 20px;
  border: 1px solid rgba(54, 64, 74, .08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: $white;
}

/*===================================
   Helper classes
===================================*/

.p-0 {
  padding: 0 !important;
}
.p-20 {
  padding: 20px;
}
.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-0 {
  margin: 0 !important;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

@include media-breakpoint-up(xs) {   
.ml-md-8, .mx-md-8 {
    margin-left: 4.5rem !important;
 }  
}

@include media-breakpoint-up(sm) {   
.ml-md-8, .mx-md-8 {
    margin-left: 4.5rem !important;
 }  
}

@include media-breakpoint-up(md) {   
.ml-md-8, .mx-md-8 {
    margin-left: 15rem !important;
 }  
}

@include media-breakpoint-up(lg) {   
.ml-md-8, .mx-md-8 {
    margin-left: 15rem !important;
 }  
}

@include media-breakpoint-up(xl) {   
.ml-md-8, .mx-md-8 {
    margin-left: 15rem !important;
 }  
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.m-h-50 {
  min-height: 50px;
}

.l-h-34 {
  line-height: 34px !important;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.wrapper-md {
  padding: 20px;
}

.pull-in {
  margin-left: -20px;
  margin-right: -20px;
}

.b-0 {
  border: none !important;
}

.no-border {
  border: none;
}

.center-page {
  float: none !important;
  margin: 0 auto;
}

.bx-s-0 {
  box-shadow: none !important;
}

.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.mx-box {
  max-height: 380px;
  min-height: 380px;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.thumb-md {
  height: 48px;
  width: 48px;
}

.thumb-lg {
  height: 88px;
  width: 88px;
}

/*===================================
Mission
===================================*/

.mission {
  display:block;
  padding-top:100px;
  margin-top:-100px;
}

/*===================================
Logo
===================================*/

.logo {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}

.altlogo {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}
.fav {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}


@include media-breakpoint-up(xs) {   
  .logoOne {
    width: 230px;
  }
  .logoAlt {
    width: 100%;
  } 
}

@include media-breakpoint-up(sm) {   
  .logoOne {
    width: 210px; 
  }
  .logoAlt {
    width: 100%;
  }    
}

@include media-breakpoint-up(md) {   
  .logoOne {
    width: 185px;
  } 
  .logoAlt {
    width: 100%;
  } 
}

@include media-breakpoint-up(lg) {   
  .logoOne {
    width: 350px;
  }
  .logoAlt {
    width: 100%;
  } 
}

@include media-breakpoint-up(xl) {   
  .logoOne {
    width: 400px;
  }
  .logoAlt {
    width: 100%;
  } 
}

/*===================================
Colour Palette
===================================*/
.colour {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}

.card-header-maverick {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $maverick;
  border-bottom: $card-border-width solid $card-border-color-maverick;
  color: $white;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-header-putty {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $putty;
  border-bottom: $card-border-width solid $card-border-color-putty;
  color: $white;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-header-dspanish {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $dspanish;
  border-bottom: $card-border-width solid $card-border-color-dspanish;
  color: $white;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-header-trenpink {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $trenpink;
  border-bottom: $card-border-width solid $card-border-color-trenpink;
  color: $white;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-header-eminence {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $eminence;
  border-bottom: $card-border-width solid $card-border-color-eminence;
  color: $white;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-header-deeppurple {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $deeppurple;
  border-bottom: $card-border-width solid $card-border-color-deeppurple;
  color: $white;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

/*===================================
Typography / Fonts
===================================*/
.typography {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}

.letters {
  font-size: 18px;
  margin-bottom: 20px;
}

.s10:before {
  content: '10px';
}

.s11:before {
  content: '11px';
}

.s12:before {
  content: '12px';
}

.s14:before {
  content: '14px';
}

.s18:before {
  content: '18px';
}

.s24:before {
  content: '24px';
}

.s30:before {
  content: '30px';
}

.s36:before {
  content: '36px';
}

.s48:before {
  content: '48px';
}

.s60:before {
  content: '60px';
}

.s72:before {
  content: '72px';
}

.s10:before, .s11:before, .s12:before, .s14:before,
.s18:before, .s24:before, .s30:before, .s36:before,
.s48:before, .s60:before, .s72:before {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: #999;
  padding-right: 6px;
}

/*===================================
   Buttons
===================================*/
.buttons {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}

.btn-primary, .btn-success, .btn-info, .btn-warning,
.btn-danger, .btn-dark {
  color: $white;
}

.btn-primary {
  background-color: $primary;
  border: 1px solid $primary;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn-outline-primary.active, .btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-primary.active,
.btn-primary:active, .show > .btn-primary.dropdown-toggle {
  background-color: darken($primary, 5%);
  border: 1px solid darken($primary, 5%);
}

.btn-secondary {
  background-color: $secondary;
  border: 1px solid $secondary;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active,
.btn-secondary.focus, .btn-primary:active, .btn-primary:focus, .btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary, .btn-outline-primary.active, .btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-secondary.active,
.btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
  background-color: darken($primary, 5%);
  border: 1px solid darken($primary, 5%);
}

.btn-success {
  background-color: $success;
  border: 1px solid $success;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover,
.open > .dropdown-toggle.btn-success, .btn-outline-success.active, .btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle, .btn-outline-success:hover, .btn-success.active,
.btn-success:active, .show > .btn-success.dropdown-toggle {
  background-color: darken($success, 5%);
  border: 1px solid darken($success, 5%);
}

.btn-info {
  background-color: $info;
  border: 1px solid $info;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus,
.btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info,
.btn-outline-info.active, .btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle, .btn-outline-info:hover, .btn-info.active, .btn-info:active,
.show > .btn-info.dropdown-toggle {
  background-color: darken($info, 5%);
  border: 1px solid darken($info, 5%);
}

.btn-warning {
  background-color: $warning;
  border: 1px solid $warning;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover,
.open > .dropdown-toggle.btn-warning, .btn-outline-warning.active, .btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle, .btn-outline-warning:hover, .btn-warning.active,
.btn-warning:active, .show > .btn-warning.dropdown-toggle {
  background-color: darken($warning, 5%);
  border: 1px solid darken($warning, 5%);
  color: $white;
}

.btn-danger {
  background-color: $danger;
  border: 1px solid $danger;
}

.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active,
.btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover,
.open > .dropdown-toggle.btn-danger, .btn-outline-danger.active, .btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle, .btn-outline-danger:hover, .btn-danger.active,
.btn-danger:active, .show > .btn-danger.dropdown-toggle {
  background-color: darken($danger, 5%);
  border: 1px solid darken($danger, 5%);
}

.btn-dark {
  background-color: $dark;
  border: 1px solid $dark;
  color: $white;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus,
.btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active, .btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle, .btn-outline-dark:hover {
  background-color: darken($dark, 5%);
  border: 1px solid darken($dark, 5%);
  color: $white;
}

.btn-dark.focus, .btn-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 2px rgba($dark, .3);
  box-shadow: 0 0 0 2px rgba($dark, .3);
}

.btn-link {
  color: $dark;
  &:hover {
    color: $primary;
  }
}

/* button Outline */
.btn-outline-primary {
  color: $primary;
  border-color: $primary;
}

.btn-outline-secondary {
  color: $dark;
  border-color: $secondary;
}

.btn-outline-secondary:hover {
    color: $white;
    background-color: $secondary;
    border-color: $white;
}

.btn-outline-secondary-nav {
  color: $white;
  border-color: $secondary;
}

.btn-outline-secondary-nav:hover {
    color: $white !important;
    background-color: $trenpink;
    border-color: $white;
}

.btn-outline-success {
  color: $success;
  border-color: $success;
}

.btn-outline-info {
  color: $info;
  border-color: $info;
}

.btn-outline-warning {
  color: $warning;
  border-color: $warning;
}

.btn-outline-danger {
  color: $danger;
  border-color: $danger;
}

.btn-outline-dark {
  color: $dark;
  background-image: none;
  background-color: transparent;
  border-color: $dark;
}

.btn-custom {
  border-bottom: 3px solid transparent;
}

.btn-custom.btn-default {
  background-color: $light3;
  border-bottom: 2px solid $lightdark-alt !important;
}

.btn-custom.btn-primary {
  border-bottom: 2px solid darken($primary, 10%) !important;
}

.btn-custom.btn-success {
  border-bottom: 2px solid darken($success, 10%) !important;
}

.btn-custom.btn-info {
  border-bottom: 2px solid darken($info, 20%) !important;
}

.btn-custom.btn-warning {
  border-bottom: 2px solid darken($warning, 10%) !important;
}

.btn-custom.btn-danger {
  border-bottom: 2px solid darken($danger, 20%) !important;
}

.btn-custom.btn-dark {
  border-bottom: 2px solid darken($inverse, 30%) !important;
}

.btn-rounded {
  border-radius: 2em;
  padding: 6px 18px;
}

.fileupload {
  overflow: hidden;
  position: relative;
  input.upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/*===================================
  Icons
===================================*/
.icons {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-list-demo {
  div {
    cursor: pointer;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #75798B;
    font-size: 14px;

    p {
      margin-bottom: 0;
      line-height: inherit;
    }
  }
  i {
    -webkit-transition: all 0.2s;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    text-align: center;
    transition: all 0.2s;
    vertical-align: middle;
    width: 40px;
  }
  .col-md-4 {
    &:hover {
      color: $primary;

      i {
        -o-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
  }
}

.ionicon-list {
  i {
    font-size: 16px;
  }
  .col-md-3 {
    &:hover {
      i {
        -o-transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        transform: scale(2);
      }
    }
  }
}

.button-list {
  margin-left: -8px;
  margin-bottom: -12px;

  .btn {
    margin-bottom: 12px;
    margin-left: 8px;
  }
}

/*===================================SBase Class Definition===================================*/

.#{$fa-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*===================================Icon Sizes===================================*/

/* makes the font 33% larger relative to the icon container */
.#{$fa-css-prefix}-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.#{$fa-css-prefix}-2x { font-size: 2em; }
.#{$fa-css-prefix}-3x { font-size: 3em; }
.#{$fa-css-prefix}-4x { font-size: 4em; }
.#{$fa-css-prefix}-5x { font-size: 5em; }

/*===================================Stacked Icons===================================*/

.#{$fa-css-prefix}-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.#{$fa-css-prefix}-stack-1x, .#{$fa-css-prefix}-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.#{$fa-css-prefix}-stack-1x { line-height: inherit; }
.#{$fa-css-prefix}-stack-2x { font-size: 2em; }
.#{$fa-css-prefix}-inverse { color: $fa-inverse; }

/*===================================Spinning Icons===================================*/

.#{$fa-css-prefix}-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}

.#{$fa-css-prefix}-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/*===================================Bordered & Pulled===================================*/

.#{$fa-css-prefix}-border {
  padding: .2em .25em .15em;
  border: solid .08em $fa-border-color;
  border-radius: .1em;
}

.#{$fa-css-prefix}-pull-left { float: left; }
.#{$fa-css-prefix}-pull-right { float: right; }

.#{$fa-css-prefix} {
  &.#{$fa-css-prefix}-pull-left { margin-right: .3em; }
  &.#{$fa-css-prefix}-pull-right { margin-left: .3em; }
}

/* Deprecated as of 4.4.0 */
.pull-right { float: right; }
.pull-left { float: left; }

.#{$fa-css-prefix} {
  &.pull-left { margin-right: .3em; }
  &.pull-right { margin-left: .3em; }
}

/*===================================Fixed Width Icons===================================*/

.#{$fa-css-prefix}-fw {
  width: (18em / 14);
  text-align: center;
}


/*===================================
  Forms
===================================*/

.forms {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}

/*===================================
  Tables
===================================*/

.tables {
  display:block;
  padding-top:100px;
  margin-top:-100px;  
}

/*===================================
  Menu
===================================*/

.social-links {
  li {
    a {
      color: $secondary;
    }
    a:hover {
      color: $trenpink;
    }
  }
}

.navbar {
  background-color: $primary;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  min-height: 70px;

  .nav-link {
    padding: 0;
    line-height: 70px;
   }

  .nav-item {
    a {
      color: $white !important;
    }
    a:hover {
      color: $trenpink !important;
    }
  }

  .dropdown-toggle {
    &:after {
      content: initial;
    }
  }

  .menu-left {
    overflow: hidden;
  }
}

.navbar-collapse {
  padding-left: 10px;
    .social-links {
      flex-direction: row;
    }
    .nav-link {
      padding: 0;
      line-height: 35px;
      }         
  }
/*===================================
  Top Menu Responsive Code Start
===================================*/
@media (min-width: 962px) and  (max-width: 1242px) {
  .btn {
      font-size: 10px;
  }

  .fa-lg {
      font-size: 15px;
  }  

  .navbar-nav {
    font-size: 12px;
  }

  .navbar-brand {
    font-size: 15px;
  }
}

@media (min-width: 795px) and (max-width: 961px) { 
  .btn {
      font-size: 10px;
  }

  .fa-lg {
      font-size: 15px;
  }  

  .navbar-nav {
    font-size: 12px;
  }

  .navbar-brand {
    font-size: 15px;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 794px) { 
  .btn {
      font-size: 10px;
  }

  .fa-lg {
      font-size: 13px;
  }  

  .navbar-nav {
    font-size: 12px;
  }

  .navbar-brand {
    font-size: 15px;
    display: none;
  }
}
/*===================================
  Top Menu Responsive Code End
===================================*/
.nav-user {
  padding: 0 12px !important;

  img {
    height: 36px;
    width: 36px;
  }
}

.navbar-nav {
  margin: 0;
}

.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  z-index: 2;
}

.side-menu.left {
  background: $white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 70px;
}

body.fixed-left {
  .side-menu.left {
    bottom: 50px;
    height: $height;
    margin-bottom: -70px;
    margin-top: 0;
    padding-bottom: 70px;
    position: fixed;
  }
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
}

.content-page > .content {
  margin-bottom: 60px;
  margin-top: 70px;
  padding: 20px 5px 15px 5px;
}

.button-menu-mobile {
  border: none;
  color: $white;
  display: inline-block;
  height: 70px;
  width: 60px;
  background-color: $primary;
  font-size: 24px;
}

.sidebar-inner {
  height: $height;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#sidebar-menu {
  padding-bottom: 30px;
  padding-top: 22px;
  width: 100%;
  .nav > li > a {

    .badge {
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  a {
    line-height: 1.3;
  }
  ul {
    ul {
      display: none;
      li {
        border-top: 0;
      }
      li.active {
        a {
          color: $primary;
        }
      }
      a {
        color: #75798B;
        display: block;
        padding: 10px 20px 10px 65px;
        font-size: 0.95rem;

        &:hover {
          color: $primary;
        }
        i {
          margin-right: 5px;
        }
      }
      ul {
        a {
          padding-left: 80px;
        }
      }
    }
  }
  .label {
    margin-top: 2px;
  }
  .subdrop {
    background: $light5 !important;
    border-left: 3px solid $primary;
  }
}

#sidebar-menu > ul > li > a {
  color: $dark;
  display: block;
  padding: 12px 20px;
  margin: 4px 0;
  border-left: 3px solid $white;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu {
  ul {
    li {
      .menu-arrow {
        -webkit-transition: -webkit-transform .15s;
        -o-transition: -o-transform .15s;
        transition: transform .15s;
        position: absolute;
        right: 20px;
        display: inline-block;
        font-family: "Material Design Icons";
        text-rendering: auto;
        line-height: 24px;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        color: $muted;

        &:before {
          content: "\F142";
        }
      }
      a.subdrop .menu-arrow {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      a {
        i {
          display: inline-block;
          font-size: 16px;
          line-height: 17px;
          margin-left: 3px;
          margin-right: 15px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
        i.md {
          font-size: 18px;
        }
      }
    }
  }
}

#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}

#sidebar-menu > ul > li > a.active {
  background: $light5 !important;
  border-left: 3px solid $primary;
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
}

.page-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.1rem;
  float: left;
}

.page-title-box {
  background: $white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .03), 0 1px 0 rgba(0, 0, 0, .03);
  padding: 20px;
  margin: -20px -20px 22px -20px;

  .breadcrumb {
    margin: 0;
    padding: 0;
  }
}

/* Small Menu */

.side-menu-sm {
  width: 180px;
  text-align: center;
  #sidebar-menu > ul > li > a > i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0;
  }
  #sidebar-menu ul ul a {
    padding: 10px 20px 10px 20px;
  }
}

.side-menu-sm + .content-page {
  .footer {
    left: 180px;
  }
}
 .side-menu-sm {
  text-align: left;
}

 .side-menu-sm #sidebar-menu ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  vertical-align: middle;
  width: 20px;
}


.side-menu-sm + .content-page {
  margin-left: 180px;
}

/* Header 2 */

.page-header-2 {
  background: $white;
  border-bottom: 1px solid #dee2e8;
  margin: -20px -15px 22px -15px;
  padding: 10px 20px 0 20px;
}

@media (max-width:768px) {

#mobile-master {

  .menu-title, .menu-arrow {
    display: none !important;
  }
  #sidebar-menu {
    ul {
      ul {
        border: 2px solid $light;
        margin-top: -5px;
        padding-top: 5px;
        z-index: 9999;
        background-color: $white;
      }
    }
  }

  .left.side-menu {
    width: 70px;
    z-index: 5;

    #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      min-height: 52px;

      &:hover {
        background: $light !important;
      }
      &:active {
        background: $light !important;
      }
      &:focus {
        background: $light !important;
      }

      i {
        margin-right: 20px !important;
        font-size: 20px;
      }
    }
    .label {
      position: absolute;
      top: 5px;
      left: 35px;
      text-indent: 0;
      display: block !important;
      padding: .2em .6em .3em !important;
    }
    #sidebar-menu {
      ul > li {
        position: relative;
        white-space: nowrap;
        &:hover > a {
          position: relative;
          width: 260px;
          background: $light;
          color: $primary;
          border-color: $primary;
        }
        &:hover > ul {
          display: block;
          left: 70px;
          position: absolute;
          width: 190px;
          a {
            background: $white;
            box-shadow: none;
            padding-left: 15px;
            position: relative;
            width: 186px;
            z-index: 6;

            &:hover {
              color: $primary;
            }
          }
        }
        &:hover {
          a {
            span {
              display: inline;
            }
          }
        }
      }
      li {
        .show-menu + ul {
          display: block;
          left: 70px;
          position: absolute;
          width: 190px;
          a {
            background: $white;
            box-shadow: none;
            padding-left: 15px;
            position: relative;
            width: 186px;
            z-index: 6;

            &:hover {
              color: $primary;
            }
          }

        }
      }
      a.subdrop {
        color: $primary !important;
      }
      ul > li > ul {
        display: none;
      }
      ul {
        ul {
          li {
            &:hover > ul {
              display: block;
              left: 186px;
              margin-top: -36px;
              position: absolute;
              width: 190px;
            }
          }
          li > a {
            span.pull-right {
              -ms-transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              position: absolute;
              right: 20px;
              top: 12px;
              transform: rotate(270deg);
            }
          }
          li.active {
            a {
              color: $primary;
            }
          }
        }
      }
      ul > li > a {
        span {
          display: none;
          padding-left: 10px;
        }
      }
    }
    .user-details {
      display: none;
    }
  }
  .content-page {
    margin-left: 70px;
  }
  .footer {
    left: 70px;
  }
  .topbar {
    .topbar-left {
      width: 70px !important;
      .logo {
        span {
          display: none;
          opacity: 0;
        }
        .icon-c-logo {
          display: block;
          line-height: 70px;
        }
      }
    }
  }

  #sidebar-menu > ul > li {
    &:hover > a.open {
      :after {
        display: none;
      }
    }
    &:hover > a.active {
      :after {
        display: none;
      }
    }
  }

  .tips-box {
    display: none;
  }
}

}

/*mobile*/

.tips-box {
  .portlet {
    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.05);
  }
}

.user-details {
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  img {
    position: relative;
    z-index: 9999;
  }
  .user-info {
    color: $lightdark4;
    margin-left: 60px;
    position: relative;
    z-index: 99999;
    a.dropdown-toggle {
      color: $lightdark7;
      display: block;
      font-size: 16px;
      font-weight: 600;
      padding-top: 5px;
    }
  }
}

#wrapper.right-bar-enabled {
  .right-bar {
    right: 0;
  }
  .left-layout {
    left: 0;
  }
}

/* Right sidebar */

.side-bar.right-bar {
  float: right !important;
  right: -266px;
  top: 70px;
  bottom: 0;
  font-size: 0.9rem;
}

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: $white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  overflow: auto;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
}

.right-bar {
  background: $white !important;
  z-index: 99 !important;
  h4 {
    border-bottom: 1px solid $light;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }
  .nav-link {
    font-size: 16px;
  }
  .tab-content {
    padding: 20px;
  }
}

.contact-list {
  max-height: 600px;

  .list-group-item {
    border: none;
    &:hover {
      background: $light5;
    }
    a {
      display: block;
      width: 100%;
    }
  }

  i.offline {
    color: $danger !important;
  }

  i.away {
    color: $warning;
  }
}

.contacts-list {
  .avatar {
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 30px;
    img {
      border-radius: 50%;
      width: $width;
    }
  }
  .list-group-item {
    span.name {
      color: #707780;
      display: inline-block;
      float: left;
      overflow: hidden;
      padding-left: 5px;
      padding-top: 3px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 130px;
    }
  }

  i {
    color: $lightgray;
    float: right;
    font-size: 9px;
    line-height: 30px;
  }
  i.online {
    color: #a0d269;
  }
  i.offline {
    color: $danger !important;
  }

  i.away {
    color: $warning;
  }
}

/* Seach */

.app-search {
  position: relative;
  padding-top: 18px;

  a {
    position: absolute;
    top: 18px;
    left: 220px;
    display: block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    text-align: center;
    color: rgba($white, 0.5);

    &:hover {
      color: $white;
    }
  }

  .form-control,
  .form-control:focus {
    border: 1px solid rgba($white, 0.1);
    font-size: 13px;
    height: 34px;
    color: $white;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba($white, 0.1);
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
  }
}

.app-search input {
  &::-webkit-input-placeholder {
    color: rgba($white, 70%);
  }
  &:-moz-placeholder {
    color: rgba($white, 70%);
  }
  &::-moz-placeholder {
    color: rgba($white, 70%);
  }
  &:-ms-input-placeholder {
    color: rgba($white, 70%);
  }
}


/* ===========
   Waves Effect
 =============*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.waves-effect {
  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }
}

.waves-effect.waves-light {
  .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
}

.waves-effect.waves-red {
  .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
  }
}

.waves-effect.waves-yellow {
  .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
  }
}

.waves-effect.waves-orange {
  .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
  }
}

.waves-effect.waves-purple {
  .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
  }
}

.waves-effect.waves-green {
  .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
  }
}

.waves-effect.waves-teal {
  .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
  }
}

.waves-effect.waves-primary {
  .waves-ripple {
    background-color: fade($primary, 40%);
  }
}

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
  .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.waves-block {
  display: block;
}
