h1 {
	text-align: center;
}
img {
	padding: 10px;
	margin: 0 auto;
}
a {
	padding: 10px;
}
.container {
	width: 960px;
	margin: 0 auto;
	padding: 5px;
	background: #f4f3f4;
}
.header {
	margin: 0 auto;
	background: #01cba0;
}
.header h1{
	margin: 0 auto;
	text-align: center;
}
.nav {
	margin: 0 auto;
	background: #f4f3f4;
	text-align: center;
}
.nav a {
	margin: 0 auto;
}
.mau {
	margin: 0 auto;
	background: #c5dffc;
	text-align: center;	
}
.rey {
	margin: 0 auto;
	background: #c3f3e4;
	text-align: center;	
}
.asp {
	margin: 0 auto;
	background: #c5dffc;
	text-align: center;	
}