/*
FONT FAMILY HELPERS :) 
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;
*/
body {
	font-family: "Source Sans Pro";
	margin: 0;
}
.container {
	width: 960px;
	margin: 0 auto;
}
header {
	background-color: black;
	overflow: auto;
	height: 60px;
}
header h1 {
	font-family: "Merriweather", serif;
	color: yellow;
	float: left;
	margin: 0;
	padding: 10px;
}
nav {
	float: right;
	padding: 20px;
}
nav a {
	font-family: "Oswald";
	color: #ffffff;
	text-decoration: none;
}
nav a:hover {}
.subhead {
	font-family: "Merriweather";
	font-size: 21px;
	font-style: italic;	
	background: #C6C6C6;
	text-align: center;	
	height: 60px;
    padding: 10px;
}
.subone {
	color: gray;
}
.subtwo {
	border-bottom: 2px solid yellow; 
}
.hero {
	background-image: url("../img/coworking.jpg");
	background-repeat: no-repeat;
	background-position: 30% 20%;
	background-size: 100%; 
	overflow: hidden;
}
.calltoact {
    width: 350px;
    height: 230px;
	background-color: white;
	opacity: 0.85;
	float: right;
    padding: 40px 40px 40px 40px;
    margin: 20px 20px 20px 20px;
}
.calltoact h3{
font-family: "Oswald"
}
.button {
	font-family: "Oswald";
	background-color: #f7f021;
    border: none;
    color: #000000;
    padding: 10px 118px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-bottom: 1px solid #666666;
    border-radius: 5px; 	
}
main {
	clear: both;
}
section {
    float: left;
    width: 280px;
    padding: 0px 10px;
    margin: 10px;
}
section h3 {
	font-family:"Merriweather", serif;
	font-size: 25px;
}
section p {}
.buttongry {
	font-family: "Oswald";
	background-color: #bdbfbd;
    border: none;
    color: #000000;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #666666;
    border-radius: 5px; 	
}
footer {
	clear: both;
	height: 100px;
	background-color: #000000;
}
.copyright {
	color: #ffffff;
	padding: 20px;
	margin: 20px;
}