#container {
    width: 960px;
    background-color: #456990;
    margin: 0 auto;
}
.nav {
    width: 400px;
    float: left;
}
.tempnav {
     float: left;   
}
.nav p {
    float: left;
    margin: 18px 9px 0px 10px;
}
#arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin: 0 auto;
}
#equal {
    margin: 5px 0px 4px 3px;
    font-size: 22px;
}
#arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
margin: 0 auto;
}
#button{
    margin: 10px 0px 0px 0px;
}
#boxbox {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
#masterbox {
    top: -646px;
    position: relative;
    width: 52px;
    height:800px; 
    background: #fe0000; /* Old browsers */
    background: -moz-linear-gradient(top,  
        #fe0000 0%, 
        #fe1818 4%, 
        #fd2f2f 8%, 
        #fd2f2f 12%, 
        #fd5757 16%, 
        #ff675a 20%, 
        #fe765c 24%, 
        #fe9965 28%, 
        #feb068 32%, 
        #fec86e 36%, 
        #ffd370 40%, 
        #fedd72 44%, 
        #feec7c 48%, 
        #fefea4 52%, 
        #f3feb0 56%, 
        #e8febd 60%, 
        #d9f3cc 64%, 
        #cae9da 68%, 
        #bfdde7 72%, 
        #b3d0f2 76%,  
        #a7c1fe 80%, 
        #91a9ff 84%, 
        #7b87ff 88%, 
        #6564fd 92%, 
        #6633fe 96%, 
        #6500fe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  
        #fe0000 0%,
        #fe1818 4%,
        #fd2f2f 8%,
        #fd2f2f 12%,
        #fd5757 16%,
        #ff675a 20%,
        #fe765c 24%,
        #fe9965 28%,
        #feb068 32%,
        #fec86e 36%,
        #ffd370 40%,
        #fedd72 44%,
        #feec7c 48%,
        #fefea4 52%,
        #f3feb0 56%,
        #e8febd 60%,
        #d9f3cc 64%,
        #cae9da 68%,
        #bfdde7 72%,
        #b3d0f2 76%,
        #b3d0f2 76%,
        #a7c1fe 80%,
        #91a9ff 84%,
        #7b87ff 88%,
        #6564fd 92%,
        #6633fe 96%,
        #6500fe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  
        #fe0000 0%,
        #fe1818 4%,
        #fd2f2f 8%,
        #fd2f2f 12%,
        #fd5757 16%,
        #ff675a 20%,
        #fe765c 24%,
        #fe9965 28%,
        #feb068 32%,
        #fec86e 36%,
        #ffd370 40%,
        #fedd72 44%,
        #feec7c 48%,
        #fefea4 52%,
        #f3feb0 56%,
        #e8febd 60%,
        #d9f3cc 64%,
        #cae9da 68%,
        #bfdde7 72%,
        #b3d0f2 76%,
        #b3d0f2 76%,
        #a7c1fe 80%,
        #91a9ff 84%,
        #7b87ff 88%,
        #6564fd 92%,
        #6633fe 96%,
        #6500fe 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( 
        startColorstr='#fe0000', 
        endColorstr='#6500fe',
        GradientType=0 ); /* IE6-9 */
}
#unsupportedBrowserMsg {
    width:100%;
    height:250px;
}
#tempboxcover{
    float: left;
    width: 300px;
    height:50px;
    overflow: hidden;
    margin: 0px 10px 0px 10px;
}
#tempbox {
     position: relative;
    top: -409px;   
}
